{% extends 'main.html.twig' %}

{% block content %}
	<div id="container8">
		<div class="container-fluid bg-dark">
			<div class="row bg-dark main-row">
				<div class="col-12">
					<div class="row">
						<div class="col-12 text-center text-white">
							<h5>GRUPY</h5>
						</div>
					</div>
					
					<div class="row">
					
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/film" class=" nav-link text-secondary"><h5>Film</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/gastronomia" class=" nav-link text-secondary"><h5>Gastronomia</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/internet" class=" nav-link text-secondary"><h5>Internet</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/kultura" class=" nav-link text-secondary"><h5>Kultura</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/muzyka" class=" nav-link text-secondary"><h5>Muzyka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/moda" class=" nav-link text-secondary"><h5>Moda</h5></a>
						</div>
						
						
					</div>
					<div class="row">
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/nauka" class=" nav-link text-secondary"><h5>Nauka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/polityka" class=" nav-link text-secondary"><h5>Polityka</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/praca" class=" nav-link text-secondary"><h5>Praca</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/sport" class=" nav-link text-secondary"><h5>Sport</h5></a>
						</div>
						<div class="col-2 text-center">
							<a href="/socialweb/web/app_dev.php/grupy/uroda" class=" nav-link text-secondary"><h5>Uroda</h5></a>
						</div>
					</div>
					
					
					
				</div>
		</div>
		
		</div>
		
	</div>
{% endblock %}